{%extends "layout.html"%}
{%block content%}
		<article class="main">
			<div id="home-image">
				<img src="{{url_for('static', filename='img/ab.jpg')}}" alt="Profile Picture" >
			</div>

			<div id="profile-info">
				<h2>Chinatu Enyinnaya</h2>
				<h2>Title: CEO of Chinatu Foundation</h2>
				<h2>Age: 20</h2>
			</div>

			<div class="description">
				
			</div>

			<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa libero ab voluptatibus iste itaque quas in voluptas animi doloribus totam assumenda sit, hic natus vel magni quo quis, pariatur ratione.</p>

			<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos optio id, mollitia laborum voluptatem amet! Voluptates, exercitationem quod veritatis alias itaque corporis odio, perspiciatis cum, et suscipit corrupti deserunt assumenda.</p>


		</article>
{%endblock%}