{%extends "layout.html"%}
{%block content%}
		<article class="main">	

			<!-- <img src="http://placehold.it/300x200" alt="" > -->

			<div id="home-image">
				<img src="{{url_for('static', filename='img/ho.jpg')}}" alt="Home Image" >
			</div>
			<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum vehicula tellus sed blandit. Donec risus lacus, condimentum feugiat magna a, pharetra rutrum urna. Vivamus venenatis orci pellentesque felis dignissim sed orci ac condimentum. Curabitur vel lorem nisl.</p>

			<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum vehicula tellus sed blandit. Donec risus lacus, condimentum feugiat magna a, pharetra rutrum urna. Vivamus venenatis orci pellentesque felis dignissim sed orci ac condimentum. Curabitur vel lorem nisl.</p>

			<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum vehicula tellus sed blandit. Donec risus lacus, condimentum feugiat magna a, pharetra rutrum urna. Vivamus venenatis orci pellentesque felis dignissim sed orci ac condimentum. Curabitur vel lorem nisl.</p>

		</article>
{%endblock%}
